#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  justify-items: right;
  z-index: 10000;
  height: 0;

  &.is--hidden {
    display: none;
  }
}
